ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.nav_logo{
    padding:10px 0 10px 15px;;
    width: 120px;
    height: auto;
}

.nav_wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   background-color: #EBF4FA;
}

.nav_link{
    font-family: Chalkboard SE;
    font-size: 20px;
    color: orange;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 25px;
    grid-column: 3/6;
}

a {
    text-decoration: none;
    color: orange;
}


